<html>

<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="domain-bg">
    <nav class="navbar">

<h2 class="logo">AI Comparison Platform</h2>

<div class="nav-links">

<a href="/">Home</a>
<a href="/domain">Domain</a>
<a href="/travel">Travel</a>
<a href="/food">Food</a>

</div>

</nav>

<div class="domain-container">

<h1>Select a Service</h1>

<div class="card-container">

<a href="/travel">

<div class="domain-card travel-card">

<h2>🚕 Travel Services</h2>

<p>
Compare ride prices across
Ola, Uber and Rapido
</p>

</div>

</a>


<a href="/food">

<div class="domain-card food-card">

<h2>🍩 Food Services</h2>

<p>
Compare food prices across
Zomato and Swiggy
</p>

</div>

</a>

</div>

</div>

</body>

</html>