<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="food-bg">
    <nav class="navbar">

<h2 class="logo">AI Comparison Platform</h2>

<div class="nav-links">

<a href="/">Home</a>
<a href="/domain">Domain</a>
<a href="/travel">Travel</a>
<a href="/food">Food</a>

</div>

</nav>

<h1>Food Price Comparison</h1>

<form action="/food_result" method="post">

<input type="text" name="food" placeholder="Enter Food Item">

<br><br>

<button class="main-btn">Search</button>

</form>

</body>
</html>