<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="center-page">
    <nav class="navbar">

<h2 class="logo">AI Comparison Platform</h2>

<div class="nav-links">

<a href="/">Home</a>
<a href="/domain">Domain</a>
<a href="/travel">Travel</a>
<a href="/food">Food</a>

</div>

</nav>

<div class="home-box">

<h1>Welcome</h1>

<h2>AI Cost Comparison & Recommendation Platform</h2>

<p>for Food and Travel Services</p>

<a href="/domain">
<button class="main-btn">Start</button>
</a>

</div>

</body>
</html>