<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="travel-bg">
    <nav class="navbar">

<h2 class="logo">AI Comparison Platform</h2>

<div class="nav-links">

<a href="/">Home</a>
<a href="/domain">Domain</a>
<a href="/travel">Travel</a>
<a href="/food">Food</a>

</div>

</nav>

<h1>Travel Cost Comparison</h1>

<form action="/travel_result" method="post">

<input type="text" name="destination" placeholder="Enter Destination">

<br><br>

<button class="main-btn">Compare Prices</button>

</form>

</body>
</html>